@model DeleteModel

<div class="container">
    <p class="lead">
        Are you sure that you want delete article @Model.Id?
    </p>
    
    <form asp-controller="Cyrrency" asp-action="Delete" method="post">
        <input asp-for="Id" type="hidden"/>
        <a asp-action="Table" asp-controller="Articles" class="btn btn-primary" >Cancel</a>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>